.grid {
    display: grid;
    grid-template-columns: repeat(20, 2rem);
}

.btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}
