@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Poppins', sans-serif;
}


.timer::before {
    content: '88:88:88'; /* Widest possible timer */
    visibility: hidden;
    position: absolute;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
}

.timer {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    border-radius: 8px;
    border: 2px solid currentColor;
    text-align: center;

    /* Fixed width to prevent resizing */
    width: 8rem; /* Adjust to fit longest possible timer value */

    margin: 0 auto;
    transition: transform 0.1s ease-in-out;

    /* Poppins for aesthetics */
    font-family: 'Poppins', sans-serif;

    /* Stabilize numeral alignment */
    font-variant-numeric: tabular-nums;
}
